@import "variables";

@import "components/input";
@import "components/button";
@import "components/progressBar";
@import "components/block";
@import "components/navigationBar";

@import "../../node_modules/normalize-scss/sass/normalize";

@include normalize();

.App {
  background-color: $seasalt;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  .containerApp {
    width: 100%;
    height: 100%;
  }
}

/* LOGIN */

.containerLogin {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100%;
  padding: 5rem 0 0;
  h1 {
    color: $penn-blue;
    font-size: 2rem;
    font-weight: 700;
    padding: 0 2rem;
  }
  .containerForm {
    height: 100%;
    padding: 2rem;
    background-color: $white;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    p {
      color: $gray;
      width: 100%;
      text-align: right;
    }
    a {
      color: $penn-blue;
    }
  }
}

/* HOME */

.homeContainer {
  background-color: $penn-blue;
  height: 100%;
  header {
    padding: 5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      color: $white;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      h2 {
        font-size: 1.5rem;
        font-weight: 700;
      }
    }
  }
  .containerLearn {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: $white;
    padding: 0 1.5rem;
    height: 100%;
    .learnToday {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .title {
        display: flex;
        justify-content: space-between;
        & p:nth-child(1) {
          color: $gray;
        }
        & p:nth-child(2) {
          color: $coquelicot;
        }
      }
      .containerTimeLearn {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        p {
          color: $gray;
          span {
            color: $penn-blue;
            font-size: 2rem;
            font-weight: 700;
          }
        }
      }
    }
    .containerCourses {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      h2 {
        color: $penn-blue;
        font-size: 1.5rem;
        font-weight: 500;
      }
      .courses {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .course {
          display: flex;
          justify-content: space-between;
          .titleCourse {
            display: flex;
            gap: 1rem;
            align-items: center;
            color: $penn-blue;
          }
          .scoreCourse {
            p {
              color: $gray;
              span {
                color: $penn-blue;
              }
            }
          }
        }
      }
      .showMore {
        width: 100%;
        text-align: center;
        color: $penn-blue;
      }
    }

    .lifeContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        color: $penn-blue;
        font-size: 1.5rem;
        font-weight: 700;
      }
      .life {
        display: flex;
        p {
          font-size: 3rem;
        }
        & p:first-child {
          color: $pigment-green;
        }
        & p:first-child,
        & p:last-child {
          font-weight: 800;
        }
        & *:not(:first-child) {
          color: $penn-blue;
        }
      }
    }
  }
}

/* COURSES */

.coursesContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  color: $penn-blue;
  padding: 0 1.5rem;
  header {
    padding: 5rem 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      h2 {
        font-size: 2rem;
        font-weight: 700;
      }
    }
  }
  .containerSearchBar {
    padding: 1.5rem 2.5rem;
    background-color: #f4f3fd;
    width: 100%;
    position: relative;
    border-radius: 1rem;
    img {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
    img:first-child {
      left: 1rem;
    }
    img:last-child {
      right: 1rem;
    }
    input {
      background-color: transparent;
      border: none;
      width: 100%;
      &:hover,
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: #b8b8d2;
      }
    }
  }

  .containerCourses {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .containerTag {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      color: #858597;
      & * {
        padding: 0.5rem 1rem;
      }
      .active {
        color: $white;
        background-color: $penn-blue;
        border-radius: 1rem;
      }
    }
    .containerCoursesList {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      overflow: auto;
      height: 30rem;
      .courseContainer {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        .img {
          background-color: #c4c4c4;
          width: 4.25rem;
          height: 4.5rem;
          position: relative;
          border-radius: 0.5rem;
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        .info {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          .pourcentTime {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center;
            span:first-child {
              font-weight: 700;
            }
            span:last-child {
              background-color: #34a85370;
              border-radius: 1rem;
              padding: 0.25rem 0.5rem;
              color: $penn-blue;
            }
          }
        }
      }
    }
  }
}
