@import "variables";

/* COMPOSANTS */
@import "components/input";
@import "components/button";
@import "components/progressBar";
@import "components/block";
@import "components/navigationBar";

/* SCREENS */
@import "screens/login";
@import "screens/home";
@import "screens/courses";

@import "../../node_modules/normalize-scss/sass/normalize";

@include normalize();

.App {
  background-color: $seasalt;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  .containerApp {
    width: 100%;
    height: 100%;
  }
}
